@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
  scroll-behavior: smooth;
}
p,
h2 {
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: 5, 5, 5, 10 rgba(2, 2, 5, 0.8);
  /* margin-bottom: 5px; */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #270082;
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background-color: lightblue; */
  height: 10vh;
}
.tunes {
  font-size: 32px;
}
.links {
  display: flex;
  gap: 15px;
}
.links,
a {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}
.container {
  position: relative;
}
.box {
  position: relative;
  width: 100%;
  z-index: 2;
}
.box-property {
  height: 90vh;
  background-color: #281154;
  margin-bottom: 20px;
}
.box-info {
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* margin-bottom: 20px; */
  align-items: center;
  gap: 30px;
}
.box-img {
  width: 100%;
  height: 100vh;
}

.box-music {
  background-color: #281154;
}
.box-absolute {
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1;
}
.box-absolute-extenstion {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1;
}
.my-tunes {
  font-size: 60px;
  /* margin-bottom: inherit; */
}
.my-music {
  font-size: 30px;
  /* margin-bottom: inherit; */
}
.my-quote {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2;
  margin-bottom: 0;
}
.center-txt {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.user-btn {
  background-color: orangered;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  border-style: none;
  border-radius: 3px;
  color: white;
}
.million-songs {
  line-height: 1.5;
}
.ext-clr {
  background-color: lightblue;
}
.ipad-image {
  position: absolute;
  top: -25%;
  left: 20%;
  z-index: 2;
}
.ipad--info {
  position: absolute;
  top: 31%;
  padding-left: 150px;
  padding-right: 150px;
  /* min-height: 100vh; */
}
.ipad-info-ext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.more {
  background: #1f19ca;
  border-style: none;
  padding: 8px 10px;
  border-radius: 3px;
  color: white;
}
.text-cont {
  background-color: #adb4e6;
  min-height: 100vh;
  padding-bottom: 1200px;
}
.mac--laptop {
  position: absolute;
  top: 50%;
  left: 17%;
}
.simcard-flex {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  color: black;
}
.simcard-flex--giftcard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  /* padding-bottom: 50px; */
}
.divider {
  width: 100%;
  background-color: gray;
  height: 2px;
  margin-bottom: 8px;
}
.simcard-desc {
  line-height: 1.6;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.links {
  color: rgb(245, 239, 239);
  display: flex;
  justify-content: space-around;
}
ul li {
  list-style: none;
  line-height: 1.5;
}
.copy-right {
  text-align: center;
}
.footer {
  background-color: darkcyan;
  padding: 20px;
}
/* text-cont {
  min-height: 100vh;
}
/* .hero-section { */
/*height: 60vh; */
/* position: relative;
  z-index: 50; */
/* top: 0;
  left: 0;
  right: 0; 
  margin-bottom: 20px;
}*/
/* .hero-container {
  /* height: 90vh; 
} */
/* .hero-img {
  width: 100%;
  height: 91vh;
  object-fit: cover;
  object-position: center;
  /* object-fit: contain; 
} */
/* .info {
  position: absolute;
  top: 50%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */
/* .my-tunes {
  font-size: 80px;
} */
/* .my-music {
  font-size: 30px;
} */
/* .my-quote {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.8;
} */
/* .my-quote,
center-txt {
  text-align: center;
} */
/* .section-music { */
/* position: relative; */
/* position: absolute; */

/* z-index: 49; */
/* width: 100%;
  height: 100vh;
  z-index: 49;
  background-color: #281154; */
/* display: flex;
  justify-content: center; 
}
.music-container {
  position: absolute;
  top: 40%;
  /* left: 5%; */
/* padding-left: 160px;
  padding-right: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
} */
/* .user-btn {
  background-color: orangered;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  border-style: none;
  border-radius: 3px;
  color: white;
} */
/* .ipad {
  background-color: lightblue;
  height: 60vh;

  position: absolute;
  z-index: 49;
} */
/* .ipad-div {
  /* z-index: 48; 
} */
