label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
input {
  padding: 10px 0;
  width: 200px;
  border-radius: 5px;
  /* border-style: none; */
}
::placeholder {
  padding-left: 10px;
  font-size: 16px;
}
input:not(.btn):focus {
  outline: none;
  border-left: 7px solid lightcoral;
}
.container {
  width: 900px;
  background-color: lightblue;
  margin: 20px auto;
}
.input-div {
  margin-bottom: 25px;
}
table {
  width: 100%;
}
table thead {
  background-color: lightcoral;
}
table tr td {
  padding: 10px 0;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #fbf8f8;
}

tr td {
  font-size: 17px;
}

th {
  padding: 10px 0;
}
